* {
  box-sizing: border-box;
}

body {
  background: #303040;
  color: #EEEEEE;
  margin: 0;

  font-family: sans-serif;
}

a {
  color: #DD5050;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    color: #FF6060;
  }

}

header,
main,
footer {
  max-width: 900px;
  width: 100%;
  margin: 2rem auto;
}

.list-entry .not-accessible,
.location-list li.not-accessible {
  text-decoration: line-through;
  color: darken(#EEEEEE, 25);
}

.list-entry .not-in-sphere,
.location-list li.not-in-sphere {
  color: darken(#EEEEEE, 25);
}
